<<<<<<< HEAD
=======
 .register-body{
  background: var(--color-background);
  width: 100vw;
  height: 100vh;
}

.register-form{
  width: 27%;
  height: 75%;
}

>>>>>>> 9b91fdc8e4edd049dbd4bb3f54f6ebd3eb28c2da
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-background);
  font-family: Arial, sans-serif;
  color: var(--color-text);
}

.register-main{
  background-color: var(--color-background);
  padding: var(--spacing-lg);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  width: 100%;
  max-width: 400px;
}

.create-heading {
  align-items: center;
  color: var(--color-text);
  padding: 20px 10px;
  width:  100%;
  text-align: center;
  height: 20px;
  padding-left: 20px;
  padding-bottom: 60px;
  color: var(--color-text);
}

.form-actions{
  padding-top : 15px;
  width: 100%;
}
.form-actions button{
  padding: var(--spacing-md);
  width: 100%;
  text-align: center;
  font-weight: 790;
}

.login-link {
  text-align: center;
  margin-top: var(--spacing-md);
  font-size: var(--font-size-small);
}

.login-link a {
  color: var(--color-link);
  text-decoration:none;
}

.login-link a:hover {
  text-decoration: underline;
}
