.button{
    display:inline-flex;
    align-items :center;
    justify-content: center;
    width :var(--button-width);
    min-width:var(--button-min-width);
    max-width:var(--button-max-width);
    height:var(--button-height);
    border-radius: var(--border-radius);
    padding-left:var(--button-padding-left) ;
    padding-right: var(--button-padding-right);
    cursor:pointer;
    border: none;
}
.disabled{
    opacity: var(--opacity);
    cursor:not-allowed
}
.primary{
    background-color: var(--color-primary);
    color:var(--color-button-text)
}
.secondary{
    background-color: var(--color-secondary);
    color:var(--color-button-secondary-text)
}
.button-text{
    display:flex;
    align-items: center;
    justify-content: center;
    width:var(--text-width);
    height: var(--text-height);
    font-size: var(--font-size-small);
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    text-align: center;
}