.toast-container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column-reverse;
    z-index: 2000;
    padding: 16px;
    gap: 12px;
    overflow: hidden;
    margin-bottom: 80px;
}

.toast-container:empty {
    display: none;
}