
:root{
    --main-color:#122117;


}


.dashboard{
    /* Depth 3, Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 956px;
max-width: 960px;
height: 818px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;
background-color:var(--main-color);

}

.dashboard-welcome-note{
    /* Depth 4, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: flex-start;
align-content: flex-start;
padding: 10px;
gap: 12px;

width: 956px;
height: 40px;



/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;



}

.dashboard-welcome-note >div {
    /* Depth 5, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 321px;
min-width: 288px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.dashboard-welcome-note div span{
    /* Welcome back, Olivia */

width: 321px;
height: 40px;

font-family: 'Spline Sans';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 40px;
/* identical to box height, or 125% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}

.dashboard-note{
    /* Depth 4, Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px 16px 12px;

width: 956px;
height: 30px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}

.dashboard-note >span{
    /* Your Accounts */

width: 924px;
height: 28px;

font-family: 'Spline Sans';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 28px;
/* identical to box height, or 127% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}

.account-details{
    /* Depth 4, Frame 2 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 956px;
height: 253px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;

}
.account-details >div{
    /* Depth 5, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px;
gap: 12px;

width: 536px;
height: 253px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.account-info{
    /* Depth 6, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 160px;
min-width: 160px;
height: 221px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;

}
.account-info img{
    /* Depth 7, Frame 0 */

width: 160px;
height: 160px;

background: url(.png);
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}
.account{
    /* Depth 7, Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 160px;
height: 45px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}
.account-name{
    /* Depth 8, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 160px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}
.account-name span{
    /* Checking Account */

width: 160px;
height: 24px;

font-family: 'Spline Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}
.account-number{
    /* Depth 8, Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 160px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}
.account-number span{
/* ...4567 */

width: 160px;
height: 21px;

font-family: 'Spline Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #96C4A8;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}


.quick-action-headding{
    /* Depth 4, Frame 3 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px 16px 12px;

width: 956px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;

}
.quick-action-headding span{
    /* Quick Actions */

width: 924px;
height: 28px;

font-family: 'Spline Sans';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 28px;
/* identical to box height, or 127% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}

.quick-action-lists{
    /* Depth 4, Frame 4 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;
gap: 12px;

width: 956px;
height: 65px;


/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


}

.quick-actions{
    /* Depth 5, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 924px;
height: 65px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}

.action-list{
    /* Transfer */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px 12px;
gap: 12px;

width: 210px;
height: 65px;

border: 2px solid #264533;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


}
a{
    text-decoration: none;
}
.action-list>img{
    /* Depth 7, Frame 0 */

width: 40px;
height: 40px;

border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

.action-info{
    /* Depth 7, Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 130px;
height: 45px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;

}

.action-info-name{
    /* Depth 8, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 130px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}
.action-info-name>span{
    /* Transfer */

width: 130px;
height: 24px;

font-family: 'Spline Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}

.action-info-fullname{
    /* Depth 8, Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 130px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}

.action-info-fullname >span{
    /* Transfer money */

width: 130px;
height: 21px;

font-family: 'Spline Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #96C4A8;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}

.lateset-notifications{
    /* Depth 4, Frame 5 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px 16px 12px;

width: 956px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;

}
.lateset-notifications >span{
    /* Latest Notifications */

width: 924px;
height: 28px;

font-family: 'Spline Sans';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 28px;
/* identical to box height, or 127% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}

.latest-notifiction{
    /* Depth 4, Frame 6 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 16px;
gap: 16px;

width: 956px;
height: 72px;
min-height: 72px;

background: #122117;

/* Inside auto layout */
flex: none;
order: 6;
align-self: stretch;
flex-grow: 0;

}

.notification-image{
    /* Depth 5, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 48px;
height: 48px;

background: #264533;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

.notification-image>img{
    /* Depth 7, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 14px;
height: 21px;
left: infpx;
top: infpx;

transform: matrix(1, 0, 0, 1, -nan, -nan);
/* Vector - 0 */

position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;

background: #FFFFFF;

}

.notification{
    /* Depth 5, Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 122px;
height: 45px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}
.notification-label{
    /* Depth 6, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 122px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.notification-label>span{
    /* New transaction */

width: 122px;
height: 24px;

font-family: 'Spline Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}
.notification-sublabel{
    /* Depth 6, Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 122px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}
.notification-sublabel>span{
    /* 2 hours ago */

width: 122px;
height: 21px;

font-family: 'Spline Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #96C4A8;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}


