.transactionMainContainer{
    width: 100%;
    min-height: 100vh;
    height: auto;
    padding-bottom: 80px;
    display:flex;
    flex-direction: column;
    
    
}
.main-heading{
    color: var(--color-white);
    width: 100%;
    
}

.main-heading h1{
margin-bottom: 16px;
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 40px;
}

.transactiontableCss{
    padding: 10px;
}

.transaction-SearchBar{
    width: 90%;
    
    
}

.transactiontableCss{
    width: 90%;
    height: 100%;
    border-radius: 10px;
    margin-top:30px;
    padding-top: 20px;
    border: 1px solid var(--color-primary);
    border-color: var(--color-primary);
    
}
.tagline{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
margin-bottom: 16px;
color: #96C4A8;

}

