

.paymentPageContainer {
  width:100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  color: var(--color-text);
}

.paymentPageContainer h1 {
  width: 100%;
}

.paymentsInputFieldContainer {
  width: 100%;
  display: grid;
  place-items: center
}

#paymentsInputField {
  text-align: center;
  font-size: 32px;
  border-color: var(--color-secondary);
  border: 1px solid;
  
}

.paymentsUserAccountDiv {
  display: flex;
  width:100%;
  justify-content: space-between;
  gap: 32px;
  padding-bottom: 20px;
}

.paymentsUserAccountDiv > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.paymentsToAccountNumberInput {
  width: 100%;
  margin-top: 16px;
}
#paymentFromAccountSelectionList {
  border: 1px solid var(--color-white) ;
  color: var(--color-white) ;
 
}

#paymentToAccountSelectionList{
  border: 1px solid var(--color-white);
  color: var(--color-white);
}
#paymentFromAccountSelectionList .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}
#paymentFromAccountSelectionList.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}





