

.basicMUITableContainer {
  width: 100%;
}

.basicMUITable {
  width: var(--table-width);
  min-width: var(--min-table-width);
  background-color: var(--primary-table-bg-color);
  color: var(--table-text-color);
  border-collapse: collapse;
}

.basicTableHeader .basicMUITableHeader {
  background-color: var(--primary-table-bg-color);
  color: var(--table-text-color);
  font-weight:bold ;
  font-size: calc(var(--table-header-font-size) + 5px);
  text-align: center;
}

.basicMUITableBody .basicMUITableData {
  background-color: var(--primary-table-bg-color);
  color: var(--color-primary);
  font-size: calc(var(--table-body-font-size)+ 5px);
  text-align: center;
  padding-bottom: var(--table-padding) ;
}

.basicMUITableBody tr:hover {
  background-color: var(--hover-table-bg-color);
}
